.disabled {
    /* change to grayscale */
    filter: grayscale(100%);
}

.parent {
    display: flex;
    width: 100%;
    /* Set the desired width */
}

.child {
    flex: 6 1 0;
    /* Equal distribution of space */
    text-align: center;
    /* Optional: Center the content */
    /* Optional: Add borders for visual separation */
}

.title-f {
    flex: 3 1 0;
    background: #f0f0f0;
    border-bottom: 1px solid #fff;
    font-size: 0.8em;
    color: #444;
    padding: 0.25em 0em;
}

.title-d {
    flex: 2 1 0;
    background: #CCC;
    border-bottom: 1px solid #fff;
    font-size: 0.8em;
    color: #444;
    padding: 0.25em 0em;
}

.title-g {
    flex: 1 1 0;
    background: #f1f1f1;
    border-bottom: 1px solid #fff;
    font-size: 0.8em;
    color: #444;
    padding: 0.25em 0em;
}

.f, .d, .g {
    padding: 0.45em;
    color: #222;
    font-size: 0.75em;
}

.f { background: #f0f0f0; border-right: 1px solid #fff; }
.d { background: #CCC; border-right: 1px solid #fff; }
.g { background: #f1f1f1; }

.child small {
    color: #888;
    font-size: 0.7em !important;
    font-weight: none;
}

.child small.empty {
    color: red !important;
    font-style: italic;
    font-size: 0.7em !important;
}

.dream-team {
    background: #f0f0f0;
    border-bottom: 1px solid #fff;
    padding: 0em 1em;
}

.dream-team h2 {
    margin: 0;
    padding: 0.5em;
    color: #444;
    text-align: center;
}

.selected:hover {
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>❌</text></svg>") 16 0,auto; /*!emojicursor.app*/
}

tr.selected:hover {
    background-color: #f1f1f1;
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='14' height='17' viewport='0 0 100 100' style='fill:black;font-size:8px;'><text y='50%'>❌</text></svg>") 16 0,auto; /*!emojicursor.app*/
}

/* tr.disabled {
    text-decoration: line-through;
} */

#players {
    width: 100%;
}

td {
    padding: 0 0.5em;
}

th {
    font-size: 0.8em;
    padding: 0.1em 0.5em;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

a.team-ready {
    color: default;
    cursor: finger;
    opacity: 1;
    text-decoration: underline;
}

a.team-not-ready {
    color: #444;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
}


table {
    border-top: 1px solid #444;
    border-bottom: 1px solid #222;
}

tr.headline {
    background-color: #444;
    color: #fff;
}

.dream-team {
    border-top: 3px solid #444;
    border-bottom: 2px solid #222;
}

.filters {
    display: flex;
    justify-content: space-between;
    margin: 0.5em 1.5em;
}

.team-submit-github {
    background: #f0f0f0;
    border: 1px solid #444;
    color: #444;
    cursor: pointer;
    font-size: 0.8em;
    padding: 0.5em 1em;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
}

.team-submit-github svg {
    fill: #444;
    height: 1em;
    margin-right: 0.5em;
    width: 1em;
    margin-bottom: -0.1em;
}

@keyframes wiggle {
    0% { transform: rotate(0deg); }
   80% { transform: rotate(0deg); }
   85% { transform: rotate(5deg); }
   95% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

.teamsubmit {
    justify-content: center;
    text-decoration: none !important;
    display: inline-block;
}

.team-ready {
    display: inline-block;
    animation: wiggle 1s infinite;
    box-shadow: 0 0 0.5em 0.2em red;
}

.team-ready:hover {
    animation: none;
}